public class mmust (private static final int MAX_LINK=100;
private static final int LINK_SIZE=3;
private static final int NUM_ELEMENTS=MAX_LINK+LINK_SIZE;
private int Link[NUM_ELEMENTS]; private int i;
private static int PAGESIZE=1024;
Linkin {protected int mindex; protected int i;
